In [1]:
# import dependencis

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
test_df = pd.read_csv("test.csv")

In [4]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
test_df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            4
LotFrontage       227
LotArea             0
Street              0
Alley            1352
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         16
MasVnrArea         15
ExterQual           0
ExterCond           0
Foundation          0
                 ...
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu       730
GarageType         76
GarageYrBlt        78
GarageFinish       78
GarageCars          1
GarageArea          1
GarageQual         78
GarageCond         78
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1456
Fence            1169
MiscFeature      1408
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
Length: 80, dtype: int64

In [6]:
# test_df["LotFrontage"] = test_df["LotFrontage"].fillna(df["LotFrontage"].mean())
# test_df["MSZoning"] = test_df["MSZoning"].fillna(test_df["MSZoning"].mode()[0])

In [14]:
def deal_with_missing_values(df):
    """
    # function for dealing with missing values by columns || whose null values were < 50 % of the total size of the data
    # 1. for object dtypes --> replaced by mode
    # 2. for int64 or float64 dtypes --> replaced by mean
    
    """
    for i in df.columns:
        if df[i].dtypes == "object" and df[i].isnull().sum() < df.shape[0]/2:
            df[i] = df[i].fillna(df[i].mode()[0])

        elif df[i].dtypes == "Int64" or df[i].dtypes == "float64" and df[i].isnull().sum() < df.shape[0]/2:
            df[i] = df[i].fillna(df[i].mean())

        elif df[i].isnull().sum() > df.shape[0]/2:
            df.drop([i], axis = 1, inplace = True)

    print("Execution successfill")

In [15]:
deal_with_missing_values(test_df)
test_df.shape

Execution successfill

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.
  if sys.path[0] == '':

(1459, 75)

In [16]:
help(deal_with_missing_values)

Help on function deal_with_missing_values in module __main__:

deal_with_missing_values(df)
    # function for dealing with missing values by columns || whose null values were < 50 % of the total size of the data
    # 1. for object dtypes --> replaced by mode
    # 2. for int64 or float64 dtypes --> replaced by mean

In [17]:
test_df.to_csv("tt.csv", index= False)